<div class="table">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Artist</th>
        <th scope="col">Price</th>
        <th scope="col">Seller</th>
        <th scope="col">Product Image</th>
        <th scope="col">View Product</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <%# Evaluates if the item has been sold. Item will be shown on index page if not sold %>
        <% if product.sold_status == false %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.artist %></td>
            <td>$<%= product.price %>0</td>
            <td><%= link_to product.user.username, product.user %></td>
            <% if product.picture.attached? %>
              <td class="w-25">
                <%= image_tag product.picture, size: "250x250", class: "img-fluid" %>
              </td>
            <% else %>
              <td class="w-25"><%= image_tag("placeholder_record.jpg", alt: "placeholder record image", size: "250x250", class: "img-fluid") %></td>
            <% end %>
            <td><%= link_to 'Show', product %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>