<div class="table">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">&#8593;&#8595;<%= sorts 'name' %></th>
        <th scope="col">&#8593;&#8595;<%= sorts 'artist' %></th>
        <th scope="col">&#8593;&#8595;<%= sorts 'price' %></th>
        <th scope="col">&#8593;&#8595;<%= sorts 'user_id', 'Seller' %></th>
        <th scope="col" class="d-none d-md-block"></th>
        <th scope="col">View Product</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <%# Evaluates if the item has been sold. Item will be shown on index page if not sold %>
        <% if product.sold_status == false %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.artist %></td>
            <td>$<%= product.price %>0</td>
            <td><%= link_to product.user.username, product.user %></td>
            <% if product.picture.attached? %>
              <td class="d-none d-md-block">
                <%= image_tag product.picture, size: "250x250", class: "img-fluid" %>
              </td>
            <% else %>
              <td class="d-none d-md-block">
                <%= image_tag("placeholder_record.jpg", alt: "placeholder record image", size: "250x250", class: "img-fluid") %>
              </td>
            <% end %>
            <td><%= link_to 'Show', product %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>