  <p>Sort Product by:</p>
<ul class="nav nav-tabs nav-fill mb-3">
  <a class="nav-link" href="#">&#8593;&#8595;<%= sorts 'name' %></a>
  <a class="nav-link" href="#">&#8593;&#8595;<%= sorts 'artist' %></a>
  <a class="nav-link" href="#">&#8593;&#8595;<%= sorts 'price' %></a>
  <a class="nav-link" href="#">&#8593;&#8595;<%= sorts 'user_id', 'Seller' %></a>
</ul>


  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @products.each do |product| %>
      <%# Evaluates if the item has been sold. Item will be shown on index page if not sold %>
        <% if product.sold_status == false %>
        <div class="col">
            <div class="card">
                <% if product.picture.attached? %>
                    <%= image_tag product.picture, class: "card-img-top" %>
                <% else %>
                    <%= image_tag("placeholder_record.jpg", alt: "placeholder record image", class: "card-img-top") %>
                <% end %>

            <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"><%= product.artist %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: $<%= product.price %>0</li>
                <li class="list-group-item">Seller: <%= link_to product.user.username, product.user %></li>
            </ul>
            <div class="card-body">
                <a class="card-link"><%= link_to 'View Album', product, class: "btn btn-primary" %></a>
            </div>
            </div>
        </div>
        <% end %>  
    <% end %>
</div>