<h1>My Orders</h1>
<div class="table-responsive">
<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Price</th>
      <th scope="col">Your Receipt Url</th>
      <th scope="col">Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.product.name %></td>
          <td><%= order.product.artist %></td>
          <td>$<%= order.product.price %>0</td>
          <td><%= link_to "See receipt", "#{order.receipt_url}", target: :_blank %></td>
          <td><%= link_to "Show Product", product_path(order.product) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

