<p id="notice"><%= notice %></p>

<h1>Welcome to Hot Vinyl Records</h1>
<h2>Select a genre to start shopping top-quality vinly</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
          <% if user_signed_in? and current_user.admin? %>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? and current_user.admin? %>  
  <%= link_to 'New Category', new_category_path %>
<% end %>
