<p id="notice"><%= notice %></p>

<h1>
  <strong>Category -</strong>
  <%= @category.name %>
</h1>

<% @category_products.each do |product| %>
  <%# Only displaying albums that have not been sold %>
  <% if product.sold_status == false %>
  <div>
    <h2><%= product.name %></h2>
    <h4><%= product.artist %></h4>
    <% if product.picture.attached? %>
      <%= image_tag product.picture, size: "250x250" %>
    <% else %>
      <%= image_tag("placeholder_record.jpg", alt: "placeholder record image", size: "250x250") %>
    <% end %>
    <p>Album Price: $<%= product.price %>0</p>
    <%= link_to "Show Album", product_path(product.id) %>
  </div>
  <% end %>
<% end %>

<% if user_signed_in? and current_user.admin? %>
  <%= link_to 'Edit', edit_category_path(@category) %>
<% end %>
<%= link_to 'Back', categories_path %>
