
<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="mb-3">
    <%= form.label :artist %>
    <br>
    <%= form.text_field :artist %>
  </div>

  <div class="mb-3">
    <%= form.label :price %>
    <br>
    <%= form.text_field :price %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id %>
    <br>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="mb-3">
    <%= form.label :vinyl_weight %>
    <br>
    <%= form.number_field :vinyl_weight, in: 120..220, step: 5 %>
  </div>

  <div class="mb-3">
    <%= form.label :catalog_number %>
    <br>
    <%= form.text_field :catalog_number %>
  </div>

  <div class="mb-3">
    <%= form.label :condition %>
    <br>
    <%= form.select :condition, ["New - Never Opened", "Very Good", "Average", "Slightly Damaged"]%>
  </div>

  <div class="mb-3">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept:"image/jpg, image/png, image/jpeg", class: "form-control", id: "formFile" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
