<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container-fluid">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.picture if product.picture.attached? %></td>
        <td><%= product.name %></td>
        <td><%= product.artist %></td>
        <td><%= product.price %></td>
        <td><%= product.user.username %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

