<p id="notice"><%= notice %></p>

<div class="container">
<%# Image tag to display uploaded album artwork %>
<% if @product.picture.attached? %>
  <%= image_tag @product.picture, size: "250x250" %>
<% else %>
  <%= image_tag("placeholder_record.jpg", alt: "placeholder record image", size: "250x250") %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @product.artist %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>0
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Vinyl weight:</strong>
  <%= @product.vinyl_weight %>
</p>

<p>
  <strong>Catalog number:</strong>
  <%= @product.catalog_number %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition %>
</p>

<p>
  <strong>Seller:</strong>
  <%= link_to @product.user.username, @product.user %>
</p>

<%# Will display review for product if review is present %>
<% if @product.review %>
  <p>
    <strong>Review:</strong>
    <%= render @product.review %>
  </p>
<% end %>
<%# Checking if user is signed in and the user is either the selling owner or admin and if the item has not been sold %>
<% if @product.sold_status? == false %>
  <% if user_signed_in? and (current_user.admin?) %>
    <%= link_to 'Edit', edit_product_path(@product) %>
    <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Buy Me Now!', new_product_order_path(@product.id) %>
  <% elsif user_signed_in? and (current_user.admin? or current_user.id==@product.user_id) %>
    <%= link_to 'Edit', edit_product_path(@product) %>
    <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
<%# If user is not the seller, they will have the option to buy the item %>
<%# Devise will handle authentication of this. If user is not signed in they will have an error message and redirect to signin page %>
  <% else %>
    <%= link_to 'Buy Me Now!', new_product_order_path(@product.id) %>
  <% end %>
<% end %>

<% if @product.sold_status == true %>
  <p>
    <strong>Product Sold Status:</strong>
    <%= @product.sold_status %>
  </p>
  <% if !@product.review %>
    <% if user_signed_in? and (current_user.admin? or current_user.id==@product.order.user_id) %>
      <%= link_to "Add Review", new_product_review_path(@product.id) %>
    <% end %>
  <% else %>
    <% if user_signed_in? and (current_user.admin? or current_user.id==@product.order.user_id) %>
      <%= link_to "Edit Review", edit_product_review_path(@product.id, @product.review.id) %>
    <% end %>
  <% end %>
<% end %>

<% if @product.sold_status == true %>  
  <%= link_to 'Back', recently_sold_path %>
<% else %>
  <%= link_to 'Back', products_path %>
<% end %>
</div>